<div class="header container-fluid ">
  <div class="row d-flex p-xl-4 justify-content-between  align-items-center">

    <div class="col-md-4 d-flex   ">
      <h2>Perfil</h2>
    </div>



    <div class="col-md-4 d-flex gap-3 align-items-center align-content-center justify-content-end   ">
      <a href="/" class="btn btna">Home</a>

      {{>menu}}

    </div>

  </div>
</div>


<div class=" d-flex flex-column p-3 w-25 border  align-content-center   m-5">


  <h4 class="text-white border-bottom text-center pb-3">Datos Usuario</h4>
  <p class="text-white pt-3">Nombre: <strong>{{usuario.first_name}}</strong></p>
  <p class="text-white pt-3">Apellido: <strong>{{usuario.last_name}}</strong></p>
  <p class="text-white pt-3">Edad: <strong>{{usuario.age}}</strong></p>
  <p class="text-white pt-3 ">Email :<strong>{{usuario.email}}</strong></p>

</div>

<button id="request-reset-button" class="btn btn-warning mt-3">Restablcecer contraseña</button>

<script>
  document.getElementById('request-reset-button').addEventListener('click', async () => {
    const email = '{{usuario.email}}';

    const response = await fetch('/api/sessions/pass-recuperacion', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({ email }),
    });

    if (response.ok) {
      alert('Password reset email sent');
    } else {
      alert('Error: ' + await response.text());
    }
  });
</script>